// @file
// HTML styles.

@use '../../01-core/functions' as *;

html {
  box-sizing: border-box;
  font-family: font-family(body);
  font-size: 100% * (font-size(base) / rem(16px));
  line-height: line-height(base);
  min-height: 100%;
  text-size-adjust: 100%;
}
