<footer class="l-footer {{ modifier }}" role="contentinfo">
  {% if constrain %}
    <div class="{{ constrain }}">
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if constrain %}
    </div>
  {% endif %}
</footer>
